* {
  font-family: "Poppins", sans-serif;

  margin: 0;
  padding: 0;
}

body h1 {
  text-align: center;
  background-color: #006cc5;
  padding: 10px 5px;
  color: #fff;
  margin: 0 0 15px 0;

}

.posts_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.post_card {
  padding: 10px;
  border-radius: 10px;
  background-color: #006cc5;
  box-shadow: 6px 5px 5px 0px rgba(0, 0, 0, 0.3);
  width: 300px;
  text-align: center;
  color: #fff8dc;
  gap: 15px;
}

.post_card:hover {
  transform: scale(110%);
  transition: ease-in-out 0.3s;
  background-color: #001e37;
 
}

.title {
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 0 15px 0;
}

.body {
  font-size: small;
  overflow: hidden;
}
