*{
  font-family: Arial, Helvetica, sans-serif;
}


h1 {
  text-align: center;
}

.posts_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.post_card {
  padding: 4px 10px;
  border-radius: 10px;
  margin: 10px;
  background-color: #006cc5;
  box-shadow: 6px 5px 5px 0px rgba(183, 189, 219, 0.75);
  width: 300px;
  text-align: center;
  color: #fff8dc;
}

.post_card:hover{
  transform: scale(110%);
  transition: ease-in-out 0.3s;
  background-color: #001e37;

}

.title {
  font-weight: bold;
  text-transform: uppercase;
}

.body {
  font-size: small;
}

h1{
  background-color: #006cc5;
  padding: 10px 5px;
  border-radius: 5px;
  color: #fff;
}
